.dataTables_wrapper {

  td,th {
    padding: 15px!important;
    border-bottom: 1px solid #b2c1d7!important;
    border-radius: 0px!important;
  }

  .dataTables_length, .dataTables_filter{
    display: none!important;
  }

}