@import "../project/colors";

a:focus {
  text-decoration: none!important;
}

input:focus {
  outline: none!important;
}

.availability {

  section {
    padding:30px 0px;
  }

  background-color:$hospital-white;
  position: relative;
  //margin-left: 250px;
  //width: calc(100% - 250px);
  width:100%;

  h1 {
    color:$h1Color;
  }

  h2 {
    color:$h2Color;
  }

  h3 {
    color:$h3Color;
  }

  .main-section {
    border-bottom: 3px solid $gallery;
  }

  .daDay {
    min-width: 155px;
    margin-right: 15px;
    cursor: pointer;

    span {
      font-weight: 700;
      font-size: 1rem;

    }

  }

  .dayBox {
    background-color: $gallery;
    padding: 7px 30px 8px 50px;
    display: block;
    position: relative;

    input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      height: 0;
      width: 0;
      border: none;
    }

  }


  .checkmark {
    position: absolute;
    top: 12px;
    left: 15px;
    height: 25px;
    width: 25px;
    background-color: $hospital-white;
    border-radius: 50%;
  }

  .checkmark::before {
    left: 10px;
    top: 7px;
    width: 5px;
    height: 10px;
    border: black;
    border-top-width: medium;
    border-right-width: medium;
    border-bottom-width: medium;
    border-left-width: medium;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  .dayBox:hover input ~ .checkmark {
    background-color: #ccc;
  }

  .dayBox input:checked ~ .checkmark {
    background-color: $mainBGColor;
  }

  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }

  .dayBox input:checked ~ .checkmark:after {
    display: block;
  }

  .dayBox .checkmark:after {
    left: 10px;
    top: 7px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  .timeFromTo {
    display: none;
    font-size: 15px;
    //padding: 0px 0px 20px;
    //border-bottom: 3px solid $gallery;

    span {
      color:$mainColor;
    }
  }

  .timepicker {
    background-color: transparent;
    width: 60px;
    //text-align: center;
    border: none;
    color: $mainColor;
    font-weight: bold;
    float: right;
    text-align: right;
    padding: 0px;

  }

  .ui-timepicker-container {
    font-size: 14px!important;
  }

  .timeFrom, .timeTo {
    background-color: $gallery;
    padding: 10px 14px;
    //margin-right: 15px;
  }

  .timeFrom {
    border-top: 1px solid #304ffe;
  }

  .fa-clock-o {
    margin-right: 10px;
  }

  .exludeDaysBox {

    width: 160px;
    margin-bottom: 5px;
    padding: 5px 10px;
    border-radius: 0;
    background-color: #304ffe;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;

    .selectedDateDelete {
      float: right;
      margin-left: 15px;
      font-weight: bold;
      background-color: #659cf2;
      cursor: pointer;
      width: 20px;
      height: 21px;
      text-align: center;
      line-height: 18px;
      border-radius: 50%;
    }

  }

  .saveAvailability {
    //margin: 10px 0px 10px 75px;
    padding: 25px 30px;
    font-weight: bold;
    background-color: $mainColor;
    border: 1px solid $mainColor;
    color: $hospital-white;
  }

  .saveAvailability:hover {
    background-color: $hospital-white;
    color: $mainColor;
  }

}