@import "../project/colors";

a:focus {
  text-decoration: none!important;
}

input:focus {
  outline: none!important;
}

h1 {
  color:$color-palette-1;
}

h2 {
  color:$h2Color;
}

h3 {
  color:$h3Color;
}

.save-button {
  padding: 25px 30px;
  font-weight: bold;
  background-color: $color-palette-1;
  border: 1px solid $color-palette-1;
  color: $hospital-white;
  cursor: pointer;
  transition: 0.3s;

  &:hover,
  &:focus,
  &:active
  {
    background-color: $hospital-white;
    color: $color-palette-1;
  }

}

//.save-button:hover, .save-button:focus {
//  background-color: $hospital-white;
//  color: $color-palette-1;
//}


.main-section {
  border-bottom: 3px solid $color-palette-6;
  padding:30px 0px;
}



// jQuery UI Spinner/Number

.ui-spinner {

  border: none!important;
  background-color: $color-palette-6!important;

  .ui-spinner-input {
    color: $color-palette-1!important;
    font-weight: bold;
    text-align: right;
    padding-right: 10px !important;
  }

  a {

    background-color:$color-palette-6!important;
    transition: 0.3s;

    &:hover {
      background-color:$color-palette-1!important;
    }

  }

  .ui-icon {

    background-image: url("images/ui-icons_ffffff_256x240.png") !important;

    &:hover {
      background-image: url("images/ui-icons_ffffff_256x240.png") !important;
    }

  }

}


// jQuery UI CheckBox

.ui-state-active {
  background-color: $color-palette-1!important;
  border-color: $color-palette-1 !important;
  box-shadow: 0 0 3px $color-palette-1;
}


.ui-checkboxradio-label {
  transition: 0.2s ease-in-out;
  &:hover {
    background-color: $color-palette-1!important;
    border-color: $color-palette-1 !important;
  }

  .ui-icon {
    width: 16px!important;
    height: 16px!important;
  }

  .ui-checkboxradio-icon-space {
    margin-right: 2px;
  }

  .ui-icon-background {
    box-shadow: none;
    border: none;
    background-color: #b8c6d9;
  }

}

//TimePicker
.timepicker {
  background-color: $hospital-white;
  width: 60px;
  text-align: center;
  border: none;
  color: $color-palette-1;
  font-weight: bold;
  float: right;
  padding: 0px;
  cursor: pointer;

}

.ui-timepicker-container {
  font-size: 14px!important;
}

.timeFrom, .timeTo {
  background-color: $color-palette-6;
  padding: 10px 14px;
  //margin-right: 15px;
}

.timeFrom {
  border-top: 1px solid $color-palette-1;
}

.fa-clock-o {
  margin-right: 10px;
}

.availability {


  background-color:$hospital-white;
  position: relative;
  //margin-left: 250px;
  //width: calc(100% - 250px);
  width:100%;

  .daDay {
    min-width: 155px;
    margin-right: 7px;

    span {
      font-weight: 700;
      font-size: 1rem;

    }

  }

  .dayBox {
    background-color: $color-palette-6;
    padding: 10px 30px 10px 50px;
    display: block;
    position: relative;
    cursor: pointer;
    border:1px solid $color-palette-6;
    transition: 0.3s;

    input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      height: 0;
      width: 0;
      border: none;
    }

  }

  .dayBox:hover {
    border-color:$color-palette-1;
  }

  .active .dayBox:hover {
    border-bottom: 1px solid $color-palette-6;
  }

  .checkmark {
    position: absolute;
    top: 9px;
    left: 15px;
    height: 25px;
    width: 25px;
    background-color: $hospital-white;
    border-radius: 50%;
    transition: 0.3s;
  }

  .checkmark::before {
    left: 10px;
    top: 7px;
    width: 5px;
    height: 10px;
    border: black;
    border-top-width: medium;
    border-right-width: medium;
    border-bottom-width: medium;
    border-left-width: medium;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  .dayBox:hover input ~ .checkmark {
    background-color: #ccc;
  }

  .dayBox input:checked ~ .checkmark {
    background-color: $color-palette-1;
  }

  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }

  .dayBox input:checked ~ .checkmark:after {
    display: block;
  }

  .dayBox .checkmark:after {
    left: 10px;
    top: 7px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  .timeFromTo {
    display: none;
    font-size: 15px;

    span {
      color:$color-palette-1;
    }
  }

  .exludeDaysBox {

    width: 160px;
    margin-bottom: 5px;
    padding: 5px 10px;
    border-radius: 0;
    background-color: $color-palette-1;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;

    .selectedDateDelete {
      float: right;
      margin-left: 15px;
      font-weight: bold;
      background-color: #659cf2;
      cursor: pointer;
      width: 20px;
      height: 21px;
      text-align: center;
      line-height: 18px;
      border-radius: 50%;
    }

  }

}
