@import "../project/colors";

a:focus {
  text-decoration: none!important;
}


pre {
  background-color: #4f4f4f;
  color: #dfdfdf;
  width: 50%;
  float:right;
}


input:focus {
  outline: none!important;
}


.main-section {
  border-bottom: 3px solid $color-palette-6;
  padding:30px 0px;
}


textarea, input[type=text] {
  border: none !important;
  background-color: #e6f1ff !important;
  padding: 5px 10px;
  border-radius: 3px;
}


textarea {
  resize: vertical;
}