@import "../project/colors";

.calendar {

  margin-left: 0!important;
  padding:0!important;

  .pignose-calendar {
    width:100%;
    max-width: 100%;
    background-color: $calendar-bg;
    box-shadow: none!important;
    border:0;

    .pignose-calendar-top {
      background-color:transparent;
      border-bottom: none;
      box-shadow: none;
      padding: 1em 0;
    }

    .pignose-calendar-top-date {
      color:$calendar-active-color;
      padding: 0.6em 0!important;
      text-transform:none!important;
    }


    .pignose-calendar-top-year {
      display: none!important;
    }

    .pignose-calendar-header {
      margin-top:0;
    }

    .pignose-calendar-row {
      margin:-25px 0;
    }

    .pignose-calendar-unit {
      a {
        color:$calendar-active-color!important;
      }
    }

    .pignose-calendar-unit-active {
      a {
        color:$hospital-white!important;
        background-color:$calendar-active-color!important;
      }
    }

    .pignose-calendar-unit-disabled a {
      cursor: not-allowed;
    }

    .pignose-calendar-week {
      color: $calendar-active-color!important;
    }

    .pignose-calendar-top-icon {
      color:$calendar-active-color!important;
    }
    .pignose-calendar-top-icon:hover {
      color:$calendar-active-color!important;
    }

  }

}
