.page-template-pricing {

  #main {
    background-color: $color-palette-6;
  }

  #pricing {

    width: 50%;
    margin: auto;
    padding: 50px 0;


    .price-toggle {

      background-color: $color-palette-1;
      color: $hospital-white;
      padding: 15px 20px 10px;
      border-radius: 5px;

      .price-checkbox {
        label {
          &::after {
            background: $color-palette-1;
          }
        }
      }

    }



    .pricing-card {
      font-family: 'STIX Two Math', serif;
      width: 400px;
      box-shadow: 0 2px 9px 0 rgba(126,136,172,0.18);

      .pricing-card-head  {
        text-align: center;
        font-size: 20px;
        padding: 30px 0 0;
        font-family: 'STIX Two Math', serif;
        font-weight: 400;
      }

      .pricing-card-price {
        text-align: center;
        font-size: 30px;
        padding: 0 0 25px;
        font-weight: 700;
        font-family:Myriad Pro, Roboto, serif;
      }

      .pricing-card-body {
        padding: 30px 50px;

        li {
          padding-bottom: 10px;
          font-size: 15px;

          strong {
            font-family:Myriad Pro, Roboto, serif;
            display: block;
            width: 100%;
            margin-bottom: 5px;
            font-size: 17px;
          }

        }

      }

      .pricing-card-footer {
        padding: 0 25px 30px;

        .pricing-card-subscribe {
          width: 100%;
          font-family:Myriad Pro, Roboto, serif;
          margin: auto;
          text-align: center;
          border: 1px solid $color-palette-1;
          background-color: $color-palette-1;
          padding: 10px;
          color: $hospital-white;
          transition: 0.3s;
          font-weight: bold;
          height:50px;
          line-height: 30px;

          &:hover {
            background-color: $hospital-white;
            color: $color-palette-1;
          }

        }


      }

    }

    .silver-pack {
      background-color: $hospital-white;
      .pricing-card-head {
        color: $black-metal;
      }
      .pricing-card-price {
        color: $color-palette-1;
        background-color: #fff;
        border-bottom: 1px solid #e5e5e5;
      }
    }

    .gold-pack {
      background-color: $color-palette-1;

      .pricing-card-head {
        color: $hospital-white;
      }

      .pricing-card-price {
        color: #fde943;
        background-color: #02569c;
        border-bottom: 1px solid #0e66ae;
      }

      .pricing-card-body {
        color: $hospital-white;
      }

      .pricing-card-footer {

        .pricing-card-subscribe {
          background-color: #fde943;
          color: #02569c;
        }

      }
    }

  }


}

