

.tui-view-6 {
  height: 50px!important;

  .tui-full-calendar-month-dayname {
    padding: 10px 0px;
  }

  .tui-full-calendar-holiday-sun {
    color: #333!important;
  }

}

.tui-full-calendar-holiday-sun {
  span {
    color: #333!important;
  }
}
.tui-full-calendar-extra-date {
  span {
    color: rgba(51, 51, 51, 0.4)!important;
  }
}

#tui-menu {
  background-color: $color-palette-1;
  padding: 15px;


  #renderRange {
    font-size: 20px;
    color:$hospital-white;
    padding-left: 10px;
  }

  .prev-month,.next-month {
    border: none;
    color:$hospital-white;
    background-color: $color-palette-1;
    font-weight: bold;
    font-size: 20px;
    padding-bottom: 5px;
    transition: 0.3s;

    &:hover {
      background-color: $hospital-white;
      color: $color-palette-1;
      border-radius: 5px;
      cursor: pointer;
    }

  }

  .move-today {
    border: none;
    color:$hospital-white;
    background-color: $color-palette-1;
    font-size: 17px;
    padding: 5px 10px;
    transition: 0.3s;

    &:hover {
      background-color: $hospital-white;
      color: $color-palette-1;
      border-radius: 5px;
      cursor: pointer;
    }

  }

}

.appointments_schedule {

  .tui-full-calendar-weekday-schedule-bullet {
    position: absolute;
    padding: 0;
    width: 4px;
    height: 100%;
    top: 0 !important;
    left: 0;
    border-radius: 0;
  }

  .tui-full-calendar-weekday-schedule-title {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    padding-left: 3px;
    font-weight: bold;
    background-color: #e6f1ff;
    padding-left: 15px !important;
  }

}




.count-appointments {
  background-color: #1259af;
  color: #fff;
  width: 25px;
  height: 25px;
  display: inline-block;
  margin-left: 5px;
  border-radius: 50%;
  text-align: center;
  line-height: 25px;
  font-size: 13px;

  &.pending{
    background-color: #FF9800;
    color: #fff;
  }

  &.confirmed {
    background-color: #388E3C;
    color: #fff;
  }

}


.status {
  font-size: 15px;
  background-color: #eee;
  padding: 5px 10px;
  display: inline-block;

  &.pending_approval {
    background-color: #FF9800;
    color: #fff;
  }

  &.confirmed {
    background-color: #388E3C;
    color: #fff;
  }

}
