//===========================================================================/
//
//    The purpose of this file is to define the color variables
//    that will be used throughout the project components.
//
// ----------------------------------------------------------------------
//
//    You can use cool names for your colors by using this tool:
//    https://chir.ag/projects/name-that-color
//
//==========================================================================/



//============================================/
//    Generic Default Colors
//==========================================/
$hospital-white: #fff;
$black-metal: #000;
$dove-gray: #666;
$gallery: #eee;
$mercury: #e5e5e5;


//============================================/
//    Color Palette of the Project
//==========================================/
$color-palette-1: #02569c;
$color-palette-2: #0569be;
$color-palette-3: #20ace1;
$color-palette-4: #afd2f0;
$color-palette-5: #02408d;
$color-palette-6: #e6f1ff;

$blue-ribbon: #304ffe;
$boulder: #747474;
$portage: #8f9ef6;



//============================================/
//    Components Colors
//==========================================/


$mainColor: $blue-ribbon;
$mainBGColor: $blue-ribbon;

$mainColorLight: $portage;

$h1Color: $blue-ribbon;
$h2Color: $black-metal;
$h3Color: $boulder;


//============================================/
//    Calendar Colors
//==========================================/

$calendar-bg: $color-palette-6;
$calendar-active-color: $color-palette-1;
