//===========================================================================/
//
//    The purpose of this file is to define the font variables
//    that will be used for the current project.
//
//==========================================================================/

$primaryFont: '';
$secondaryFont: '';

.shippingappointments {

  h1 {
    font-size: 4rem;
    font-weight: 700;
    line-height: 115%;
    margin: 15px 0;
  }

  h2 {
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 115%;
    margin: 15px 0;
  }

  p {
    margin: 15px 0;
  }

}

